project/boot/
project/plugins/project/
project/plugins/target/
project/target/
target/
project/boot/*
project/plugins/project/*
project/plugins/target/*
project/target/*
target/*
.idea/tasks.xml
.idea/workspace.xml
.classpath
.project
.target/
.cache
logs/*
.settings/
/bin/
.cache-main
.cache-tests
